{% extends "base.html" %} 

{% block content %}
{% if error_message %}
<div class="alert {{alert_class}}">
    <p>
        <strong>
            {{ error_message }}
        </strong>
    </p>
</div>
{% endif %}

<h2>
    Service Listing
</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="span2">
                Name
            </th>
            <th class="span4">
                Description
            </th>
            <th class="span1">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_services %}
        <tr>
            <td>
                {{row.name}}
            </td>
            <td>
                {{row.description}}
            </td>
            <td>
                <a href="detail" class="btn btn-blue">Detail</a>
                <a href="start/{{row.id}}" class="btn btn-success">Start</a>
                <a href="delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<hr>
<h2>Running Services</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="span2">
                Name
            </th>
            <th class="span4">
                Description
            </th>
            <th class="span1">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in running_services %}
        <tr>
            <td>
                {{row.service.name}}
            </td>
            <td>
                {{row.service.description}}
            </td>
            <td>
                <a href="detail" class="btn btn-success">View Detail</a>
                <a href="stop/{{row.id}}" class="btn btn-danger">Stop</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

